body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

div {
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 10px 12px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 20px 20px;
}

img {
    height: 288px;
    border-radius: 20px;
    margin-top: 16px;
}